

#btnBox{
    top:15px;
    position: fixed;
    background-image: rgb(147, 204, 204);
    opacity: 0.9;
    width: 10%;
    align-content: right;
    text-align: left;
    z-index: 0;
}
.date{
   
    position: relative;
    /* top:4.0in; */
    text-align:center;
    vertical-align: center;
}
#firstPage{
    position:relative;
}
.blankPage{
    width:8.5in;
    height:11in;
}
div.frontcover{
    position: relative;
    /* top:4.0in; */
    text-align:center;
    vertical-align: center;
    }
.title { 
    text-transform: uppercase; 
}
.preview{
    background-color: rgb(241, 241, 21);
    width: 5px;
    height: 10px;
}
#dragElement{
    position:fixed;
    top:88%;
    z-index: 1002;
    width:10% !important;
    background: rgb(78, 226, 9);
}
#sectionBox{
    top:50%;
    position:fixed;
    width:5%;
    background: rgb(89, 255, 24);
    opacity: 0.9;
    align-content: left;
    text-align: left;
    z-index: 1001;
}
body {
    background-color:rgb(255, 255, 255)
}
button {
    opacity: 1.0;
}
.page-break{
    /* You should vertically align the number in the header.
     Since the top margin is one inch, vertically align the page number at 0.5" */
     margin-top: .5in;
     text-align: right;

}
body{
    font: 12pt/14pt Courier, fixed;
}
#contentbox,#sortable {
    font: 12pt/14pt Courier, fixed;
    margin-top: 1in;
    margin-right: .75in;
    margin-left: 1.5in; 
    margin-bottom: .75;
    /* height:9.25in; */
    list-style: none;
    /* border: 1px solid #333; */
    /* background-color: #eee; */
    padding: 5px 14px;
    line-height: 1.8em;
    
} 

#contentbox div span text #text { font: 12pt/14pt Courier, fixed; }
.shot{
    /* ANGLE ON --
EXTREME CLOSE UP --
PAN TO --
LIAM'S POV -- */
    /* Left: 0.0" Right: 0.0" Width: 6.0" */
    margin-left: 0;
    margin-right: 0;
    width:6in;
}
.sceneheader, .action, .character { 
    padding-top: 1.5ex;
    /* Indent: Left: 0.0" Right: 0.0" Width: 6.0"  */
    width: 6in; 
      text-transform: uppercase; 
      background-color: palegoldenrod;
      z-index:0
    }

.action { 
    /* padding-right: 5%; */
    background-color:palegreen; 
    z-index: -1;
}
.dialogue:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px rgba(220, 233, 255, 0.48);
    }
.delete{
    text-decoration-line: line-through;
}
.adding{
    background-color: #3a4;
}
.character {
             text-transform: uppercase; 
             text-align: center;
             background-color:paleturquoise;
             
             }
.general { 
    font: 12pt/14pt Arial, fixed;
    z-index:0
        
}
.dialogue { 
    /* Indent: Left: 1.0" Right: 1.5" Width: 3.5" */
            padding-top: -1.5ex;
            margin-left: 1in;
            margin-right: 1.5in;
            width:3.5in;
             /* padding-right: 25%;  */
             background-color: rgb(227, 255, 254);
             z-index:0;
             word-wrap: break-word;
            }

.parenthetical { 
    /* Indent: Left: 1.5" Right: 2.0" Width: 2.5" */
    margin-left: 1.5in;
    margin-right: 2.0in;
    width:2.5in;
    z-index:0
 }

 


/* special case: dialogue followed by a parenthetical; the extra line needs to be suppressed */

.dialogue + .parenthetical { padding-bottom: 0; }

.transition { 
    margin-top: 1in;
    padding-top: 3ex; 
     /* margin-left: 65%;  */
     text-align: left; 
     /* margin-right: 6in; */
     padding-bottom: 1.5ex;  
     text-transform: uppercase;
    background-color: rgb(192, 192, 228);
    z-index:0
 }

/* general
scene_heading
action
character_name 
character 
parenthetical
dialogue 
transition
shot
cast_list */




@media print {
  
div.frontcover { 
    page: cover; 
    display:block;
    content: "foobar foobar foobar foobar";
    width: 8.5in;
    height: 11in; 
  }

.editor{
    font: 12pt/14pt Courier, fixed;
    margin-top: 1in;
    margin-right: .75in;
    margin-left: 1.5in; 
    margin-bottom: .75;
     height:9.25in; 
    list-style: none;
    /* border: 1px solid #333; */
    padding: 5px 14px;
    line-height: 1.8em;
    /* border: 4px red solid; */
}
@page {
    size: A4;
  
  }
  
  #firstPage{
    position:relative;
}
div.frontcover{
    position: absolute;
    top:4.0in;
    text-align:center;
    vertical-align: center;
    }
.page-break{
    page-break-before: always;
    margin-top: 1in;
    margin-right: .75in;
    margin-left: 1.5in; 
    margin-bottom: 6.75;
  }
  .date{
      display:inline;
      position:absolute;
      top:10in;
      right:1in;
  }
  .page-first-break{
      position:relative;
      /* border: red 3px solid; */
    page-break-before: always;
    margin-top: 1in;
    margin-right: .75in;
    margin-left: 1.5in; 
    margin-bottom: 6.75;
  }
    .character, .dialogue .general .action {page-break-inside: avoid;}
    #btnBox, nav, footer,.screen{
        display: none;
        }
        #contentbox {
    
            border: none;
            /* padding: 5px 14px; */
        } 
        body{
            background-color: #fff ;
        }
        
.sceneheader,  .character { 
    padding-top: 1.5ex;
    /* Indent: Left: 0.0" Right: 0.0" Width: 6.0"  */
    width: 6in; 
      text-transform: uppercase; 
      
    }

.action { 
    padding-right: 5%;
    width: 6in; 
   }

.character {
             text-transform: uppercase; 
             text-align: center;
        
             }
.general { 
    font: 12pt/14pt Arial, fixed;
        
}
.dialogue { 
    /* Indent: Left: 1.0" Right: 1.5" Width: 3.5" */
            /* padding-top: -1.5ex; */
            margin-left: 1in;
            margin-right: 1.5in;
            width:3.5in;
             /* padding-right: 25%;  */
            
            }
.parenthetical { 
    /* Indent: Left: 1.5" Right: 2.0" Width: 2.5" */
    margin-left: 1.5in;
    margin-right: 2.0in;
    width:2.5in;
 }

/* special case: dialogue followed by a parenthetical; the extra line needs to be suppressed */

.dialogue + .parenthetical { padding-bottom: 0; }

.transition { 
    /* padding-top: 3ex;  */
     /* margin-left: 65%;  */
     text-align: left; 
     /* margin-right: 6in; */
     /* padding-bottom: 1.5ex;   */
     text-transform: uppercase;
  }

     }